<main>
    <div class="row">
        <header class="container col-11">
            <h1><i class="fas fa-kiwi-bird"></i> Au Pois Gourmand</h1>
        </header>
    </div>

    <div class="row">
        <div class="container col-10">
            <div class="row d-flex justify-content-between">
                
                <div class="card col-md-5" style="width: 18rem;">
                    <img src="./rome.jpg" class="card-img-top" alt="tomate">
                    <div class="card-body container-fluid">
                      <h3 class="card-title text-center">Formule Rome</h3>
                      <p class="card-text">Tomates buratina</p>
                      <p class="card-text">Rizotto aux asperges</p>
                      <p class="card-text">Panna cotta</p>
                      <a href="#" class="btn btn-info col">Choisir</a>
                    </div>
                </div>
    
                <div class="card col-md-5" style="width: 18rem;">
                    <img src="./nyork.jpg" class="card-img-top" alt="tomate">
                    <div class="card-body container-fluid">
                      <h3 class="card-title text-center">Card title</h3>
                      <p class="card-text">Formule New-York</p>
                      <p class="card-text">Cheese burger</p>
                      <p class="card-text">Cheesecake</p>
                      <a href="#" class="btn btn-danger col">Choisir</a>
                    </div>
                </div>

                <div class="card col-md-5" style="width: 18rem;">
                    <img src="./delhi.jpg" class="card-img-top" alt="tomate">
                    <div class="card-body container-fluid">
                      <h3 class="card-title text-center">Formule Delhi</h3>
                      <p class="card-text">Poppadoms</p>
                      <p class="card-text">Agneau byriani</p>
                      <p class="card-text">Lassi mangue</p>
                      <a href="#" class="btn btn-warning col">Choisir</a>
                    </div>
                </div>
    
                <div class="card col-md-5" style="width: 18rem;">
                    <img src="./hanoi.jpg" class="card-img-top" alt="tomate">
                    <div class="card-body container-fluid">
                      <h3 class="card-title text-center">Formule Hanoï</h3>
                      <p class="card-text">Nems aux crevettes</p>
                      <p class="card-text">Poulet saté</p>
                      <p class="card-text">Perles de coco</p>
                      <a href="#" class="btn btn-primary col">Choisir</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <br>    
    
    <div class="row">
        <footer class="container d-flex justify-content-end">
            <h4><i class="fas fa-kiwi-bird"></i>.... <i class="fas fa-kiwi-bird"></i>.... <i class="fas fa-kiwi-bird"></i>.... <i class="fas fa-kiwi-bird"></i>.... <i class="fas fa-kiwi-bird"></i>. Au Pois Gourmand</h4>
        </footer>
    </div>

</main>